@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Oswald&display=swap');

/* Déclaration des polices
font-family: 'Noto Sans', sans-serif;
font-family: 'Oswald', sans-serif; 
*/

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 5vh;
}

.articles{
    border: 1px solid black;
}

aside{
    background: rgb(150, 150, 150);
    font-size: 2vh;
    font-style: italic;
    color: white;
}